# Compiled Object files
*.slo
*.lo
*.o

example/todo_server/todo_server

tmp/*
docs/*
!docs/.keep
!docs/doxygen.conf

# Compiled Dynamic libraries
*.so
*.dylib
*.dSYM

# Compiled Static libraries
*.lai
*.la
*.a

# Vim
*.swo
*.swp
